<div class="jumbotron">

<h1 style="color:#428DC8">Edit Item Entry</h1>
<p>asterick(*) denotes a required field</p>
<br>

<%= render 'form' %>

<br>

<%= link_to 'Show', @other %> |
<%= link_to 'Back', others_path %>

</div>