<div class="jumbotron">

<h1 style="color:#428DC8">Edit Round Entry</h1>
<p>asterick(*) denotes a required field</p>
<br>

<%= render 'form' %>

<br>

<%= link_to 'Show', @bround %> |
<%= link_to 'Back', rounds_path %>

</div>
