<div class="jumbotron">

<h1 style="color:#428DC8">Edit Bar Entry</h1>
<p>asterick(*) denotes a required field</p>
<br>

<%= render 'form' %>

<br>

<%= link_to 'Show', @bar %> |
<%= link_to 'Back', bars_path %>

</div>