<div class="jumbotron">

  <% if current_user %>

  <h1 style="color:#000000">
    <span style="color:#428DC8">Welcome Back!</span>
  </h1>
  <p>Select an option from the navigation bar above.</p>
  <a class="btn btn-primary btn-lg" role="button" <%= link_to 'logout', destroy_user_session_path, method: :delete %>

  <% else %>
  
  <h1>
  	<span style="color:#000000">Welcome to </span>
  	<span style="color:#428DC8">Stackr!</span>
  </h1>
 
  <p>A dynamic inventory application for your precious metals stack.</p>
  <br>
  <a class="btn btn-primary btn-lg" role="button" <%= link_to 'login', new_user_session_path %>
  <a class="btn btn-primary btn-lg" role="button" <%= link_to 'signup', new_user_registration_path %>

  <% end %>

</div>