<div class="jumbotron">

  <h1 style="color:#000000">
    <span style="color:#428DC8">About</span>
  </h1>
  <p>Stackr is a dynamic web application designed as a single inventory system for your precious metals stack. Stackr is 100% free, secure, and private. Stackr allows a user to quickly inventory, manage, and analyze a stack.</p>
  <br>

    <div class="row">
      <div class="col-lg-4">
        <h2><u>Features</u><h2>
          <ul>
            <li><p>Silver Stack Inventory</p></li>
            <li><p>Graphical Analysis</p></li>
            <li><p>Real-time Spot Prices</p></li>
          </ul>
      </div>
      <div class="col-lg-4">
        <h2><u>Future Updates</u><h2>
          <ul>
            <li><p>Multiple Currencies</p></li>
            <li><p>Graded Coin Support</p></li>
            <li><p>Other Precious Metals</p></li>
          </ul>

      </div>
      <div class="col-lg-4">
        <h2><u>Developed With</u><h2>
          <ul>
            <li><p>Ruby on Rails</p></li>
            <li><p>PostgreSQL</p></li>
            <li><p>Heroku</p></li>
          </ul>
      </div>


</div>