<div class="jumbotron">

  <h1 style="color:#000000">
    <span style="color:#428DC8">About</span>
  </h1>
  <p>Stackr is a dynamic web application designed as a single inventory system for your precious metals stack. Stackr is 100% free, secure, and private. Stackr allows a user to quickly inventory, manage, and analyze a stack.</p>

  <br>

    <div class="row">
      <div class="col-lg-4">
        <div class="classWithPadding">
        <h2>Features:</h2>
          <ul>
            <li style="color:#428DC8"><p>Silver Stack Inventory</p></li>
            <li style="color:#428DC8"><p>Graphical Analysis</p></li>
            <li style="color:#428DC8"><p>Real-time Spot Prices</p></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="classWithPadding">
        <h2>Future Updates:</h2>
          <ul>
            <li style="color:#428DC8"><p>Multiple Currencies</p></li>
            <li style="color:#428DC8"><p>Graded Coin Support</p></li>
            <li style="color:#428DC8"><p>Other Precious Metals</p></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="classWithPadding">
        <h2>Developed With:</h2>
          <ul>
            <li style="color:#428DC8"><p>Ruby on Rails</p></li>
            <li style="color:#428DC8"><p>PostgreSQL</p></li>
            <li style="color:#428DC8"><p>Heroku</p></li>
          </ul>
        </div>
      </div>


</div>