// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// styled flash messages:
.alert { 
	width: 200px;
	margin: auto auto; 
}


// Set background image
body {
	background-image: url("/assets/background.jpg");
}


//Jumbotron Settings
.jumbotron {
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #777777;
}


//Navbar Settings
.navbar-default {
	background-color: #FFFFFF;
	border-bottom: 2px solid #777777;
}