<nav class="footer navbar-fixed-bottom">
  <div class="container-fluid">

  	<!--Footer stackr version number-->
  	<a class="navbar-brand" style="color:#777777;">version 0.2</a>

    <!--Footer reddit logo and shout out to /r/silverbugs-->
    <a class="navbar-brand navbar-right" style="color:#777777;"><i class="fa fa-reddit-alien" style="color:#000000"></i> created by vetruvian | with support from the /r/silverbugs community</a>
      
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
