<div class="jumbotron">

<h1 style="color:#428DC8">Edit Coin Entry</h1>
<p>asterick(*) denotes a required field</p>
<br>

<%= render 'form' %>

<br>

<%= link_to 'Show', @coin %> |
<%= link_to 'Back', coins_path %>

</div>